{% extends "gallery/main.html" %}

{% block local_style %}
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1px;
        align-items: stretch;
        justify-items: center;
    }

    .grid img {
        max-width: 100%;
    }
{% endblock %}

{% block local_scripts %}
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
<script>
$(function () {
    let draggedImage;

    $(".draggable").draggable({
        'snap': true,
        'stack': '.draggable',
        'start': function () {
            console.log('Dragging: %s', $(this).attr('id'));
            draggedImage = $(this);
        }
    });

    $(".card-container").droppable({
        'drop': function (event, ui) {
            console.log("Dropping on to: " + event.target.id);
            let dropSiteContainer = $(this);

            if (draggedImage !== event.target) {
                console.log("Can do drop");
                // replace drag site image with the one at the drop site
                console.log("dropSiteContainer: %s", dropSiteContainer.attr('id'));
                draggedImage.parent().parent().append(dropSiteContainer.find('a'));

                // replace drop site image with the one from the drag site
                dropSiteContainer.append(draggedImage.parent());
                draggedImage.css({top: 'initial', left: 'initial'}); // ensure image is placed evenly in container
            } else {
                console.log("Can not do drop onto itself");
            }
        }
    });

});
</script>
{% endblock %}

{% block content %}
<div class="grid">
    {% for card in cards %}
        <div id="drag-container-{{ forloop.counter }}" class="card-container">
            <a class="card"
               id="link-to-card-{{ forloop.counter }}"
               href="https://en.wikipedia.org/wiki/Rider%E2%80%93Waite_Tarot#/media/File:{{ card.file }}">
                <img src="{{ card.img_src }}"
                     class="draggable"
                     id="image-{{ forloop.counter }}"
                     alt="{{ card.file }}"/>
            </a>
        </div>
    {% endfor %}
</div>

{% endblock %}