{% extends "gallery/main.html" %}

{% block local_style %}
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1px;
        align-items: stretch;
        justify-items: center;
    }

    .grid img {
        max-width: 100%;
    }
{% endblock %}

{% block content %}
<div class="grid">
    {% for card in cards %}
        <a href="https://en.wikipedia.org/wiki/Rider%E2%80%93Waite_Tarot#/media/File:{{ card.file }}">
            <img src="https://upload.wikimedia.org/wikipedia/commons/{{ card.uri_key }}/{{ card.file }}" alt=""/>
        </a>
    {% endfor %}
</div>

{% endblock %}