{% extends "gallery/main.html" %}

{% block local_scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
        function shuffleCards(images) {
            images.sort(() => Math.random() - 0.5);
        }

        const backOfCardImgSrc = '{{ back_of_card_img }}';

        const allImages = {{ images_json|safe }};
        const pipImages = allImages.slice(0, 56);
        let images = pipImages;
        shuffleCards(images);

        let numOfCards = 2;
        let cardsFromIndex = 0;

        function refreshCards() {
            $('#image-1').prop('src', images[cardsFromIndex]);
            $('#caption-1').text(cardsFromIndex + 1);
            $('#image-2').prop('src', images[cardsFromIndex + 1]);
            $('#caption-2').text(cardsFromIndex + 2);

            if (numOfCards === 3) {
                console.log('moreCardsToDeal: %s', moreCardsToDeal());
                if (moreCardsToDeal()) {
                    $('#image-3').prop('src', images[cardsFromIndex + 2]);
                    $('#caption-3').text(cardsFromIndex + 3);
                }
                else {
                    $('#image-3').prop('src', backOfCardImgSrc);
                    $('#caption-3').text('');
                }
            }
        }

        function deal() {
            if (moreCardsToDeal()) {
                cardsFromIndex += numOfCards;
            }

            if (cardsFromIndex >= numOfCards) {
                enableBackButton();
                $('#btn-shuffle').prop('disabled', false);
            }
            else {
                disableBackButton();
            }

            if (!moreCardsToDeal()) {
                disableDealButton();
            }
            console.log('cardsFromIndex: ' + cardsFromIndex);
        }

        function moreCardsToDeal() {
            return cardsFromIndex + numOfCards < images.length;
        }

        function disableDealButton() {
            $('#btn-deal').prop('disabled', true);
        }

        function enableBackButton() {
            $('#btn-back').prop('disabled', false);
        }

        function disableBackButton() {
            $('#btn-back').prop('disabled', true);
        }

        function enableDealButton() {
            $('#btn-deal').prop('disabled', false);
        }

        function back() {
            cardsFromIndex = (cardsFromIndex - numOfCards) % images.length;
            if (cardsFromIndex < numOfCards) {
                disableBackButton();
            }
            if (moreCardsToDeal()) {
                enableDealButton();
            }
            console.log('cardsFromIndex: ' + cardsFromIndex);
        }

        function resetDeck() {
            shuffleCards(images);
            cardsFromIndex = 0;
            disableBackButton();
            refreshCards();
        }

        $(document).ready(function() {
            $('#btn-deal').on('click', function () {
                deal();
                refreshCards();
            });
            $('#btn-back').on('click', function () {
                back();
                refreshCards();
            });
            $('#btn-shuffle').on('click', function () {
                resetDeck();
            });
            $('#chk-include-trumps').change(function () {
                if (this.checked) {
                    images = allImages;
                    resetDeck();
                }
                else {
                    images = pipImages;
                    resetDeck();
                }
            });

            $("input:radio").click(function () {
                let value = $(this).val();
                if (value === '2') {
                    numOfCards = 2;
                    $('#figure-3').css('display', 'none');
                    $('#card-holder').css('grid-template-columns', '1fr 1fr');
                    refreshCards();
                }
                else if (value === '3') {
                    numOfCards = 3;
                    $('#card-holder').css('grid-template-columns', '1fr 1fr 1fr');
                    $('#figure-3').css('display', 'block');
                    refreshCards();
                }
            });
            refreshCards();
        });
    </script>
{% endblock %}

{% block local_style %}
    body {
        font-family: Arial, sans-serif;
    }

    .card-holder {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1px;
        align-items: stretch;
        justify-items: center;
    }

    .card-holder figure img {
        max-width: 100%;
    }

    @media only screen and (min-width: 920px) {
        .card-holder figure img {
            max-width: 100%;
            width: auto;
            height: 70vh;
        }
    }

    .button-holder {
        text-align: center;
    }
    .button {
        margin: 1%;
    }

{% endblock %}

{% block content %}
    <div class="card-holder" id="card-holder">
        <figure>
            <img id="image-1" class="card" src="{{ back_of_card_img }}">
            <figcaption id="caption-1" style="text-align: center"></figcaption>
        </figure>
        <figure>
            <img id="image-2" class="card" src="{{ back_of_card_img }}" alt="tarot-card">
            <figcaption id="caption-2" style="text-align: center"></figcaption>
        </figure>
        <figure id="figure-3" style="display: none">
            <img id="image-3" class="card" src="{{ back_of_card_img }}" alt="tarot-card">
            <figcaption id="caption-3" style="text-align: center"></figcaption>
        </figure>
    </div>
    <div class="button-holder">
        <button id="btn-shuffle" class="button" title="Reshuffle the whole deck" disabled="disabled">Shuffle</button>
        <button id="btn-deal" class="button" title="Deal cards from the deck">Deal</button>
        <button id="btn-back" class="button" title="View previous cards" disabled="disabled">Back</button>
        <hr/>

        <label>
            Include trumps
            <input type="checkbox" id="chk-include-trumps"/>
        </label>

        &nbsp; Number of cards:
        <input type="radio" id="num_cards_2" name="num_cards" value="2" checked="checked">
        <label for="num_cards_2">2</label>
        <input type="radio" id="num_cards_3" name="num_cards" value="3">
        <label for="num_cards_3">3</label>
    </div>
{% endblock %}
