{% extends "gallery/main.html" %}

{% block local_scripts %}
{% endblock %}

{% block content %}
    <div class="card-holder">
        <img id="image-1" class="card" src="" alt="tarot-card" />
        <img id="image-2" class="card" src="" alt="tarot-card" />
    </div>
    <div class="button-holder">
        <button id="btn-prev" class="button">Previous</button>
        <button id="btn-next" class="button">Next</button>
        <button id="btn-reshuffle" class="button">Reshuffle</button>
    </div>
{% endblock %}
