<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <style>
        img {
            width: 99%;
            height: auto;
        }

        {% include 'navbar.css' %}
    </style>
</head>
<body>

     <div class="navbar">
      <a href="#about">About</a>
      <a href="{% url 'gallery:index' %}">All</a>
      <div class="dropdown">
        <button class="dropbtn">Royals
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="{% url 'gallery:index' %}royals/by/suite">By Suite</a>
          <a href="{% url 'gallery:index' %}royals/by/rank">By Rank</a>
        </div>
      </div>
    </div>

    <table id="gallery">
        {% include "row_of_cards.html" with id="wands"   cards=deck.wands %}
        {% include "row_of_cards.html" with id="cups"    cards=deck.cups %}
        {% include "row_of_cards.html" with id="swords"  cards=deck.swords %}
        {% include "row_of_cards.html" with id="coins"   cards=deck.coins %}
        {% include "row_of_cards.html" with id="majors1" cards=deck.majors1 %}
        {% include "row_of_cards.html" with id="majors2" cards=deck.majors2 %}
    </table>
</body>
</html>