{% extends "gallery/main.html" %}

{% block content %}
<table id="gallery">
    {% include "row_of_cards.html" with id="wands"   cards=deck.wands %}
    {% include "row_of_cards.html" with id="cups"    cards=deck.cups %}
    {% include "row_of_cards.html" with id="swords"  cards=deck.swords %}
    {% include "row_of_cards.html" with id="coins"   cards=deck.coins %}
    {% include "row_of_cards.html" with id="majors1" cards=deck.majors1 %}
    {% include "row_of_cards.html" with id="majors2" cards=deck.majors2 %}
</table>
{% endblock %}