<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tarot Gallery</title>
    <style>
        {% block local_style %}{% endblock %}

        {% include 'navbar.css' %}
    </style>
</head>
<body>

     <div class="navbar">
      <a href="#about">About</a>
      <a href="{% url 'gallery:index' %}">All</a>
         <a href="{% url 'gallery:pips' %}">Pips</a>
      <div class="dropdown">
        <button class="dropbtn">Royals
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="{% url 'gallery:index' %}royals/by/suite">By Suite</a>
          <a href="{% url 'gallery:index' %}royals/by/rank">By Rank</a>
        </div>
      </div>
    </div>

    {% block content %}{% endblock %}
</body>
</html>