<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tarot Gallery</title>
    <style>
        {% block local_style %}{% endblock %}

        {% include 'navbar.css' %}
    </style>
    {% block local_scripts %}{% endblock %}
</head>
<body>

     <div class="navbar">
      <a href="#about">About</a>
      <a href="{% url 'gallery:index' %}">All</a>

         <div class="dropdown" id="dropdown-royals">
        <button class="dropbtn">Royals
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="{% url 'gallery:index' %}royals/by/suite">By Suite</a>
          <a href="{% url 'gallery:index' %}royals/by/rank">By Rank</a>
        </div>
      </div>

     <div class="dropdown" id="dropdown-pips">
         <button class="dropbtn">Pips
             <i class="fa fa-caret-down"></i>
         </button>
         <div class="dropdown-content">
             <a href="{% url 'gallery:index' %}pips/by/number">By Number</a>
         </div>

     </div>

     </div>

    {% block content %}{% endblock %}
</body>
</html>