<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>

<script>
$(function () {
    let draggedImage;

    $(".draggable").draggable({
        'snap': true,
        'stack': '.draggable',
        'start': function () {
            console.log('Dragging: %s', $(this).attr('id'));
            draggedImage = $(this);
        }
    });

    $(".card-container").droppable({
        'drop': function (event, ui) {
            console.log("Dropping on to: " + event.target.id);
            let dropSiteContainer = $(this);

            if (draggedImage !== event.target) {
                console.log("Can do drop");
                // replace drag site image with the one at the drop site
                console.log("dropSiteContainer: %s", dropSiteContainer.attr('id'));
                draggedImage.parent().parent().append(dropSiteContainer.find('a'));

                // replace drop site image with the one from the drag site
                dropSiteContainer.append(draggedImage.parent());

                // JQuery leaves image css in a weird state, so ...
                draggedImage.css({top: 'initial', left: 'initial'}); // ensure image is placed evenly in container
                $('.draggable').css('z-index', 0); // prevent z index from blocking drop down menu
            } 
            else {
                console.log("Can not do drop onto itself");
            }
        }
    });

});
</script>
